*.iml
.gradle
/app/release
/local.properties
/ConsolePlugin/debug-sandbox
/ConsolePlugin/build
/DictionaryCore/build
/Tools/build
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

