*.iml
.gitignore
.gradle
/local.properties
.DS_Store
/build
/ConsolePlugin/build
/Tools/build
/DictionaryCore/build
app/src/androidTest/
app/src/test
/captures
.externalNativeBuild
.cxx
/ConsolePlugin/debug-sandbox